<!doctype html>
<html lang="en">

<head>
    <title>Penjualan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/sidebar.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h2>
                    <class="logo">Shop Center
                </h2>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                    <li>
                        <a href="Dashboard_barang.html">Barang</a>
                    </li>
                    <li>

                        <a href="Pembelian.html">Pembelian</a>
                    </li>
                    <li>
                        <a href="Penjualan.html">Penjualan</a>
                    </li>
                    <li>
                        <a href="Data_member.html">Data Member</a>
                    </li>
                    <li>
                        <a href="Login.html">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-4">
                            <h2 class="heading-section">Riwayat Penjualan</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="table">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th>ID Penjualan</th>
                                            <th>Jumlah Penjualan</th>
                                            <th>Harga Jual</th>
                                            <th>ID Pengguna</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="namaBrg">
                                                    <span>ID1</span>
                                                </div>
                                            </td>
                                            <td>3</td>

                                            <td>Rp. 10000/td>
                                            <td>Kelontong ABC</td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="button-container">
                <a href="#">Kalkulasi laba & rugi??</a>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>